@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #F1F5F8;
}

.left_sec_print {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 21cm;
    min-height: 29.7cm;
    padding: 2px;
    background: white;
}

.left_sec_print img {
    width: 300px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.left_sec_print .left_name_date {
    display: flex;
    justify-content: space-between;
}

.left_name_date p {
    font-weight: 600;
    font-size: 1.7rem;
    border-bottom: 2px solid #5DB2FF;
    color: #5DB2FF;
    width: fit-content;
}

.left_sec_print .left_title_sec h3 {
    font-weight: 600;
    font-size: 1.7rem;
    border-bottom: 2px solid black;
    width: fit-content;
}

.left_sec_print .left_title_sec h3 {
    margin-left: auto;
    margin-right: auto;
}

.left_list h3 {
    font-weight: 600;
    font-size: 1.7rem;
    border-bottom: 2px solid black;
    width: fit-content;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.left_list {
    width: 100%;
}

.left_list ul {
    list-style: none;
    margin-top: 10px;
    font-size: 1.5rem;
}

.left_list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_list ul li p:nth-child(2) {
    width: 500px;
    text-align: right;
}

.notes {
    font-size: 18px;
    font-style: italic;
}

.left_sec_print .left_title_sec {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left_sec_print .left_title_sec p {
    font-size: 1.5rem;
}


.margin-less {
    margin-top: 0px !important;
    margin-bottom: 0px !important
}