@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    background-image: url('../Images/black-elegant-criss-cross-background-free-vector.jpg');
}

    .nav_bar .navbar_right {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .nav_bar .navbar_right img {
            width: 120px;
            object-fit: contain;
        }

    .nav_bar .navbar_left {
        width: 60%;
    }

    .nav_bar .navbar_left {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        color: #A4A5A4;
        font-weight: 500;
        font-size: 2.2rem;
        list-style: none;
    }

.navbar_left li {
    cursor: pointer;
}

    .navbar_left li:hover {
        color: black;
    }

.main_sec {
    
    background-image: url('../Images/12681479-A-light-blue-background.jpg');
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 25px 30px;
}

    .main_sec .left_sec_print {
        display: flex;
        flex-direction: column;
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .main_sec .left_sec {
        width: 50%;
    }

    .main_sec .line_divider {
        border-right: 2px;
        border-style: solid;
        height: 100vh;
        border-color: #5DB2FF;
        width: 2px;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }

    .main_sec .left_sec img {
        width: 300px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

.left_sec_print .left_name_date {
    display: flex;
    justify-content: space-between;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .left_sec_print {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.left_name_date p, .left_sec_print .left_title_sec h3 {
    font-weight: 700;
    font-size: 2.3rem;
    border-bottom: 2px solid black;
    width: fit-content;
}

.left_sec_print .left_title_sec h3 {
    margin-left: auto;
    margin-right: auto;
}

.left_list h3 {
    font-weight: 700;
    font-size: 2.3rem;
    border-bottom: 2px solid black;
    width: fit-content;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.left_list {
    width: 100%;
}

    .left_list ul {
        list-style: none;
        margin-top: 10px;
        font-size: 2.2rem;
    }

        .left_list ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .left_list ul li p:nth-child(2) {
                width: 250px;
                text-align: right;
            }

.left_sec_print .left_title_sec {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    .left_sec_print .left_title_sec p {
        font-size: 2.3rem;
    }

.main_sec .right_sec {
    width: 50%;
}

.right_sec .right_nav_Sec {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.right_nav_Sec .date, .right_nav_Sec .name {
    display: flex;
    align-items: center;
}

.right_nav_Sec p {
    font-size: 2.3rem;
    font-weight: 600;
}

.right_nav_Sec input {
    border-bottom: 1px solid #5DB2FF;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    padding-bottom: 5px;
    text-align: center;
    width: 190px;
    margin-right: 25px;
}

    .right_nav_Sec input[type="text"] {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .right_nav_Sec input:focus {
        outline: none;
    }

.right_nav_main .multipleDropdowns div {
    display: flex;
    margin: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
}

.right_nav_main .dropdown_btns {
    display: flex;
    margin: 50px 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.right_nav_main .btn-primary {
    background-color: #5DB2FF;
    position: relative;
    float: right;
    transform: translateX(-35%);
    font-size: 20px;
}

.left_sec .btn-primary {
    background-color: #5DB2FF;
    font-weight: 400;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 10px;
}

.right_nav_main button {
    font-weight: 400;
    font-size: 1.2rem;
    border: none;
    width: 170px;
}

.right_nav_main .btn_style {
    border-radius: 25px;
}

.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:focus, .dropdown .dropdown-toggle:hover {
    background-color: white;
    color: black;
    border: 1px solid #5DB2FF;
}

.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .dropdown ul {
        width: 350px;
        text-align: right;
    }
/* .dropdown_btns_one .dropdown ul li{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 30px 0px;
} */
@media screen and (max-width: 600px) {
    .nav_bar {
        flex-direction: column-reverse;
    }

        .nav_bar .navbar_left {
            justify-content: space-between;
            flex-direction: column;
            margin-top: 10px;
        }
}

@media screen and (max-width: 1100px) {
    .main_sec {
        flex-direction: column-reverse;
    }

    .right_sec {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .left_sec {
        margin-left: 50px;
    }
}


.right_sec_body {
    margin-top: 15px;
}

.radio-toolbar {
    margin: 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}