@{
    ViewBag.Title = "Home Page";
}

<div class="main_sec">
    <div class="left_sec">
        <button type="button" class="btn btn-primary btn_style">Print</button>
        <div class="left_sec_print">
            <img src="~/Images/logo-bg.png" />
            <div class="left_name_date">
                <p>24/08/21</p>
                <p>אלישע ישי</p>
            </div>
            <div class="left_title_sec">
                <h3>תוכנית טיפול</h3>
                <p>שיננית יסודי 200 ש"ח </p>
            </div>
            <div class="left_list">
                <h3>ימין למעלה</h3>
                <ul>
                    <li>
                        <p lang="he" dir="rtl">
                            3,500 ש"ח
                        </p>
                        <p lang="he" dir="rtl">
                            שן 17 טש, מבנה וכתר חרסינה
                        </p>
                    </li>
                    <li>
                        <p lang="he" dir="rtl">
                            450 ש"ח
                        </p>
                        <p lang="he" dir="rtl">
                            שן 16 סתימה עמוקה
                        </p>
                    </li>
                    <li>
                        <p lang="he" dir="rtl">
                            450 ש"ח
                        </p>
                        <p lang="he" dir="rtl">
                            שן 15 סתימה עמוקה
                        </p>
                    </li>
                    <li>
                        <p lang="he" dir="rtl">
                            400 ש"ח
                        </p>
                        <p lang="he" dir="rtl">
                            שן 14סתימה
                        </p>
                    </li>
                    <li>
                        <p lang="he" dir="rtl">
                            400 ש"ח
                        </p>
                        <p lang="he" dir="rtl">
                            שן 13 סתימה
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right_sec">
        <div class="right_nav_Sec">
            <div class="date">
                <input type="date" id="date" name="date">
                <p>:תַאֲרִיך</p>
            </div>
            <div class="name">
                <input type="text" />
                <p>:שֵׁם</p>
            </div>
        </div>
        <div class="right_nav_main right_sec_body">

            <div id="requirements">

                <div id="requirements-list">

                </div>

                <button id="addReq" class="btn-primary">+Add Requirement</button>


            </div>


        </div>
    </div>
</div>




<div id="modal-window-requirement" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="radio-toolbar">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-window" class="modal fade" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal Title</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <label id="row-text"></label>
            <br>
            <label>Area List</label>
            <select id="area-list">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <br>
            <input type="number" /> ____ <input type="number" />

            <label>Treatment List</label>
            <select id="treatmentList">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

            <br />

            <label>Notes</label>
            <select id="Notes">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <textarea id="Note"></textarea>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save Row</button>
        </div>
    </div>
</div>
</div>
@section Scripts{
<script src="~/Scripts/App/index.js"></script>
}

