@{
    ViewBag.Title = "Home Page";
}

<div class="main_sec">
    <div class="left_sec">
        <button id="print" type="button" class="btn btn-primary btn_style">Print</button>
        <div id="print-data" class="left_sec_print">
            <img src="~/Images/logo-bg.png" />
            <div class="left_name_date">
                <p id="patient-date"></p>
                <p id="patient-name"></p>
            </div>
            <div id="perscription">
                <div class="left_title_sec">
                    <h3>תוכנית טיפול</h3>
                    <p>שיננית יסודי 200 ש"ח </p>
                </div>
                <div class="left_list">
                    <h3>ימין למעלה</h3>
                    <ul>
                        <li>
                            <p lang="he" dir="rtl">
                                3,500 ש"ח
                            </p>
                            <p lang="he" dir="rtl">
                                שן 17 טש, מבנה וכתר חרסינה
                            </p>
                        </li>
                        <li>
                            <p lang="he" dir="rtl">
                                450 ש"ח
                            </p>
                            <p lang="he" dir="rtl">
                                שן 16 סתימה עמוקה
                            </p>
                        </li>
                        <li>
                            <p lang="he" dir="rtl">
                                450 ש"ח
                            </p>
                            <p lang="he" dir="rtl">
                                שן 15 סתימה עמוקה
                            </p>
                        </li>
                        <li>
                            <p lang="he" dir="rtl">
                                400 ש"ח
                            </p>
                            <p lang="he" dir="rtl">
                                שן 14סתימה
                            </p>
                        </li>
                        <li>
                            <p lang="he" dir="rtl">
                                400 ש"ח
                            </p>
                            <p lang="he" dir="rtl">
                                שן 13 סתימה
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div class="right_sec">
        <div class="right_nav_Sec">
            <div class="date">
                <input type="date" id="date" name="date">
                <p>:תַאֲרִיך</p>
            </div>
            <div class="name">
                <input id="patient-name-input" type="text" />
                <p>:שֵׁם</p>
            </div>
        </div>
        <div class="right_nav_main right_sec_body">

            <div id="requirements">
                <div class="row">
                    <div id="requirements-list">

                    </div>
                </div>
                
                <div class="row">
                    <button id="addReq" class="btn-primary">+Add Requirement</button>
                </div>

                


            </div>


        </div>
    </div>
</div>




<div id="modal-window-requirement" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="radio-toolbar">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-window" class="modal fade" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal Title</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p dir="rtl" lang="he" id="final-row-text">()</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <label>Align Right Header</label>
                    <select id="rightHeader" class="form-control">
                        <option value="">Select an Option</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label>Center header</label>
                    <select id="centerHeader" class="form-control">
                        <option value="">Select an Option</option>
                    </select>
                </div>
                
                <div class="col-md-4">
                    <label>Area List</label>
                    <select id="araList" class="form-control">
                        <option value="">Select an Option</option>
                    </select>
                </div>
            </div>
            
            <div class="row row-section">
                <div class="col-md-2">
                    <label>Tooth No.</label>
                    <input type="number" id="tooth1" class="form-control tooth-input"/>
                </div>
                <div class="col-md-2">
                    <label>Tooth No.</label>
                    <input type="number" id="tooth2" class="form-control tooth-input"/>
                </div>
                
                <div class="col-md-8">
                    <label>Treatment List</label>
                    <select id="treatmentList" class="form-control">
                        <option value="">Select an Option</option>
                    </select>
                </div>


            </div>
            
            <div class="row row-section">
                
                <div class="col-md-4">
                    <label>Write Notes</label>
                    <textarea dir="rtl" rows="5"></textarea>
                </div>
                
                <div class="col-md-8">
                    <div class="col-md-6">
                        <label>Notes</label>
                        <select id="notes" class="form-control">
                            <option>Select an Option</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Price</label>
                        <input id="price" type="number" class="form-control" />
                    </div>

                    <div class="col-md-2 tnp">
                        <label>T</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-md-2 tnp">
                        <label>N</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-md-2 tnp">
                        <label>P</label>
                        <input class="form-control" />
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="saveRow" type="button" class="btn btn-primary">Save Row</button>
        </div>
    </div>
</div>
</div>
@section Scripts{
<script src="~/Scripts/App/index.js"></script>
}

